body {
    background-color:blanchedalmond;
}
.main {
    width: 35rem;
    height: 18rem;
    margin-top: 4rem;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    border-top:20px solid white;
    box-shadow: 2px 2px 50px black;
   
}
.first-div{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  
    
}
.second-div{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 12rem;
    height: 5rem;
}
   


#pass {
    text-align: center;
    font-size: larger;
    align-items: center;
    width: 18rem;
    height:2rem;
    box-shadow: 2px 2px 10px green;
    border-radius: 10rem 0 10rem 0;
    outline: none;
 
    
   
}

#btn1 {
    width:max-content;
    height: 2rem;
    text-align: center;
    font-size: larger;
 
}
#btn2 {
    width: auto;
    height: 2rem;
   
    text-align: center;
    font-size: larger;
}
#btn1:hover,#btn2:hover{
    box-shadow: 2px 2px 10px green;
}
.third-div {
    width: 38rem;
    height: 4rem;
    text-align: top;
    align-items: top;
    margin-left: 18rem;
    margin-right: 18rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    box-shadow: 2px 2px 10px green;
    border-radius: 0 10rem 0 10rem ;
    padding: 0 1rem 0 1rem;
}
h3 {
    margin-right: 0.4rem;
    text-align: top;
    align-items: top;
    font-size: x-large;
  
 
}
p{
    color: green;
    font-size: x-large;
   
}
    
  
   
    


    
    
